<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0366d6">
    <meta name="description" content="{{ site.description | default: site.github.project_tagline }}">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
      </header>
      
      <!-- Navigation Tab Bar -->
      <nav class="main-nav">
        <ul class="nav-tabs">
          <li><a href="{{ "/" | absolute_url }}" class="nav-tab">Home</a></li>
          <li><a href="{{ "/dataviz-examples" | absolute_url }}" class="nav-tab">Data Viz Examples</a></li>
          <li><a href="{{ "/critique-by-design" | absolute_url }}" class="nav-tab">Critique by Design</a></li>
          <li><a href="{{ "/final-project-part-one" | absolute_url }}" class="nav-tab">Final Project I</a></li>
          <li><a href="{{ "/final-project-part-two" | absolute_url }}" class="nav-tab">Final Project II</a></li>
          <li><a href="{{ "/final-project-part-three" | absolute_url }}" class="nav-tab">Final Project III</a></li>
        </ul>
      </nav>
      
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small>Frank's Data Visualization Portfolio</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
